.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    background-color: var(--vscode-sideBar-background);
}

.scrollArea {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}
